@using votClient.Shared.Components;
@inherits LayoutComponentBase

<RadzenLayout style="height: 99vh">
        <RadzenHeader>
       
        <Spinner></Spinner>
        </RadzenHeader>
       
        <RadzenBody>
            <div class="rz-p-4">
                @Body
            </div>
        </RadzenBody>
        <RadzenFooter>
             Copyright 2023
        </RadzenFooter>
    </RadzenLayout>


<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
