@using CommonBase.Services.AuthService;
@using Microsoft.AspNetCore.Components.Authorization;
@using votClient.Shared.Components;
@using CommonBase.Shared.Services;
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AuthService AuthService;

<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div>
                <RadzenButton Click=@(args => LogoutClick()) Icon="exit_to_app" ButtonStyle="ButtonStyle.Info" />
             </div>
        </div>
        <Spinner></Spinner>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />

@code{
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    
    async Task LogoutClick()
    {
        await AuthService.Logout();
        navigationManager.NavigateTo("/login");
    }

}