@page "/fetchdata"
@using votClient.Models;
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (lideres == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Referido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lider in lideres)
            {
                <tr>
                    <td>@lider.Id</td>
                    <td>@lider.Nombre</td>
                    <td>@lider.Telefono</td>
                    <td>@lider.Referido</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Lider[]? lideres;

    protected override async Task OnInitializedAsync()
    {
        lideres = await Http.GetFromJsonAsync<Lider[]>("Lideres/GetAlls");
    }
   
}
