@page "/home"
@using Blazored.SessionStorage;
@using CommonBase.Models.UserModel;
@using CommonBase.Services.AuthService;
@using Microsoft.AspNetCore.Components.Authorization;
@using Supabase.Gotrue;

@using CommonBase.Shared.Services;
@attribute [Authorize]
@inject ISessionStorageService _localStorage;
<PageTitle>Index</PageTitle>

<h2>Te damos la bienvenida @DisplayName !!</h2>

<p>Este es el sistema de gestión de votantes y agenda para candidatos políticos</p>


@*<ResumenVotos></ResumenVotos>*@

@code{


    private string? DisplayName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var userinfo = await _localStorage.GetItemAsync<UserInfoLocalStorage>("USER_INFO");
        DisplayName = userinfo != null ? userinfo.DisplayName : "";
    }

    
}