@page "/home"
@using Blazored.SessionStorage;
@using CommonBase.Models.UserModel;
@using CommonBase.Services.AuthService;
@using Microsoft.AspNetCore.Components.Authorization;
@using Supabase.Gotrue;

@using CommonBase.Shared.Services;
@attribute [Authorize]
@inject ISessionStorageService _localStorage;
<PageTitle>Index</PageTitle>

<h2>Te damos la bienvenida @DisplayName !!</h2>

<p>Este es el sistema de gestión de ventas</p>

<div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
    <span class="fas fa-box-open"></span>
</div>
<span class="counter display-3 text-secondary d-block">1560</span>
<span class="h5 text-gray">Units Ordered</span>


@*<ResumenVotos></ResumenVotos>*@

@code {


    private string? DisplayName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var userinfo = await _localStorage.GetItemAsync<UserInfoLocalStorage>("USER_INFO");
        DisplayName = userinfo != null ? userinfo.DisplayName : "";
    }


}