@page "/home"
@using CommonBase.Services.AuthService;
@using Microsoft.AspNetCore.Components.Authorization;
@using Supabase.Gotrue;

@using CommonBase.Shared.Services;
@attribute [Authorize]
@inject AuthService AuthService;
<PageTitle>Index</PageTitle>

<h1>Te damos la bienvenida @DisplayName !!</h1>

<p>Este es el sistema de gestión de votantes y agenda para candidatos políticos</p>


@*<ResumenVotos></ResumenVotos>*@

@code{


    private string? DisplayName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        User? user= await AuthService.GetUser();
        DisplayName = user != null ? user.Email: "";
    }

    
}