@page "/lideres"
@using votClient.Models;
@inject HttpClient Http


<PageTitle>Líderes</PageTitle>

<h1>Líderes</h1>

<p>En esta pagina puedes almacenar los datos de los lídeles.</p>


@if (lideres == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@lideres" TItem="Lider" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Lider" Property="id" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="Lider" Property="nombre" Title="Nombre" Frozen="true" Width="160px" />
            <RadzenDataGridColumn TItem="Lider" Property="cedula" Title="Cedula" Width="160px" />
            <RadzenDataGridColumn TItem="Lider" Property="telefono" Title="Telefono" Width="200px" />
            <RadzenDataGridColumn TItem="Lider" Property="referido" Title="Referido" Width="120px" />
        </Columns>
    </RadzenDataGrid>
}

@code {
    private Lider[]? lideres;

    protected override async Task OnInitializedAsync()
    {
        lideres = await Http.GetFromJsonAsync<Lider[]>("Lideres/GetAlls");
    }
}
